// rsuite Grid uses the following breakpoints:
//   xs: Extra small devices Phones (< 480px)
//   sm: Small devices Tablets (≥ 480px)
//   md: Medium devices Desktops (≥ 992px)
//   Large devices Desktops (≥ 1200px)

// min-width: browser is >= value
// max-width: browser is <= value

@media (max-width: 479px) {
  .ui-text-large {
    font-size: small;
  }
}

@media (min-width: 480px) {
  .ui-text-large {
    font-size: medium;
  }
}

@media (min-width: 992px) {
  .ui-text-large {
    font-size: large;
  }
}

// Nav Menu //

.rs-navbar-item {
  padding: 18px 10px;

  &:focus {
    color: inherit;
  }
}

// //

.header-text {
  &:extend(.ui-text-large);
}

.session-name {
  &:extend(.ui-text-large);
  background-color: #333;
}

.rs-divider-horizontal {
  margin-top: 12px;
  margin-bottom: 12px;
}

// Console //

.console-item {
  font-family: monospace;
  font-size: small;
  color: beige;
}

.console-item-info {
  &:extend(.console-item);
}

.console-item-warn {
  &:extend(.console-item);
  color: gold;
}

.console-item-error {
  &:extend(.console-item);
  color: red;
}

.console-item-debug {
  &:extend(.console-item);
  color: burlywood;
  font-style: italic;
}

.console-button-info {
}

.console-button-warn {
  color: gold;
}

.console-button-error {
  color: red;
}

// Modals //

.modal {
  & h1 {
    font-size: large;
    line-height: normal;
  }

  & h2 {
    font-size: medium;
    line-height: normal;
    margin: 20px 0 8px 0
  }
}

.rs-modal-sm {
  width: 400px;
}

.rs-modal-xs {
  width: 340px;
}

@media (max-width: 479px) {
  .modal {
    & p {
      font-size: small;
    }
  }
}


// ImageViewer //

@import (css) "~react-image-lightbox/style.css";


// MetadataChart //

.chart-tooltip {
  font-size: smaller;
  color: antiquewhite;

  line-height: .5em;
  text-align: left;
}

// //
